{% extends "index.html" %} {% block content %}
<nav>
    <a href="/"><strong>Open Source</strong> Cookbook</a>
    <a href="">Contribute a recipe!</a>
</nav>
<section class="contribute">
    <blockquote>
        The Open Source Cookbook was designed for your contribution.
    </blockquote>
    <div class="illustration">
        <img
            src="illustrations/red-bell-pepper.png"
            alt="An illustration of a red bell pepper."
        />
    </div>
    <h2>How to contribute</h2>
    <p>
        The recipes in the cookbook are built from markdown files in the
        <a href="https://github.com/microsoft/DevCookbook">GitHub repository</a
        >. To add a recipe of your own,
        <a
            href="https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo"
            >fork the repository</a
        >
        and add a markdown file in the
        <a href="https://github.com/microsoft/DevCookbook/tree/main/recipes"
            ><code>recipes</code></a
        >
        directory. The markdown file should follow the template below.
    </p>
    <div class="markdown-example">
        <span
            ><a
                href="https://github.com/microsoft/DevCookbook/blob/main/Template.md"
                >Template.md</a
            ></span
        >
        <pre><code>---
name: [Full Name]
residence: [City, country]
category: {appetizer, entree, dessert, other}
---

# [Recipe Name]

> [Quote]

## Ingredients

## Directions

</code></pre>
    </div>
    <p>
        As an example, the following markdown file,
        <a
            href="https://github.com/microsoft/DevCookbook/blob/main/recipes/Pie%20Shell%20Script.md"
        >
            <code>recipes/Pie Shell Script.md</code></a
        >
    </p>
    <div class="markdown-example">
        <span
            ><a
                href="https://github.com/microsoft/DevCookbook/blob/main/recipes/Pie%20Shell%20Script.md"
                >Pie Shell Script.md</a
            ></span
        >
        <pre><code>---
name: Thomas Eckert
residence: Seattle, WA, USA
category: dessert
---

# Pie Shell Script

> The perfect shell is as important for pie as it is for code.

## Ingredients

- 300 g all purpose flour
- 5/8 tsp salt
- 175 g cold butter
- 2 tbsp. cold water

## Directions

1. Stir together flour and salt.
2. Cut cold butter into pea-sized pieces (or use a cheese grater) and mix thoroughly into the dry ingredients.
3. Sprinkle 1 to 2 tbsp. cold water over part of the mixture, gently toss with a fork.
4. Form the mixture into a ball and place on a lightly floured surface.
5. Using a rolling pin, flatten from center to edges until the dough is 12 inches (30 cm) in diameter.
6. Carefully transfer the dough to a 9 inch (22 cm) pie plate.
7. Crimp the edge of the dough as desired.
8. Fill the shell with a pie filling of your choice!
        </code></pre>
    </div>
    <p>
        gets compiled to <a href="pie-shell-script">this</a>. Be sure to include
        a programming pun in your recipe's name. When your recipe is ready,
        <a
            href="https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork"
            >make a pull request</a
        >
        against the upstream repository. When the pull request is completed, a
        GitHub Action compiles and deploys the updated site. Bon appetit!
    </p>
</section>
{% endblock content %}
