/* Unset values */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

/* Variables */

:root {
    /* Shades */
    --neutral-00: ;
    --neutral-0: #ffffff;
    --neutral-2: #f8f8f8;
    --neutral-4: #f4f4f4;
    --neutral-6: #f2f2f2;
    --neutral-8: #ebebeb;
    --neutral-10: #dedede;
    --neutral-20: #c8c8c8;
    --neutral-30: #a6a6a6;
    --neutral-60: #666666;
    --neutral-70: #3c3c3c;
    --neutral-80: #333333;
    --neutral-90: #202020;
    --neutral-100: #000000;

    /* Colors */
    --tomato: #ef3742;
    --onion: #9c7691;
    --green-onion: #76bc43;

    /* Text */
    --text-primary: var(--neutral-90);

    /* Shadow */
    --shadow: var(--neutral-60) 0px 0.25rem 0.5rem;
}

/* Globals */

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--text-primary);
}

img {
    width: 100%;
}

::selection {
    background: var(--green-onion);
}

::-moz-selection {
    background: var(--green-onion);
}

.section-splash {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1rem 20rem 1fr 1fr;
}

.section-splash > .section-splash-image {
    box-shadow: var(--shadow);
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.section-splash > .section-splash-text {
    color: var(--neutral-4);
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.section-splash > .section-splash-background {
    background-color: var(--neutral-60);
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    z-index: -10;
}

.section-splash h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.section-splash p {
    max-width: 50ch;
}

.section-splash > div {
    padding: 2rem;
}

hr {
    border: 0;
    height: 0;
    border-top: 0.5px solid var(--neutral-10);
    margin-bottom: 1.5rem;
}

/* Typography */

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 700;
}

strong {
    font-weight: 500;
}

p {
    margin-bottom: 1.5rem;
}

blockquote {
    quotes: "“" "”" "‘" "’";
    font-family: "Times New Roman", Times, serif;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

header h1 {
    font-size: 5rem;
}

/* Introduction */

section.introduction {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    margin-bottom: 5rem;
}

section.introduction > * {
    grid-column: 2;
}

section.introduction > img {
    max-width: 20rem;
    margin: auto;
}

/* Table of contents */

section.table-of-contents {
    display: grid;
    grid-template-columns: 1fr min(50rem, 100%) 1fr;
    gap: 1rem;
    max-width: 100rem;
    margin: auto;
    padding: 0 1rem;
}

.chapters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.chapter {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}

.chapter-number {
    margin-right: 1rem;
}

.chapter p {
    margin-bottom: 0.5rem;
}

.chapter a {
    text-decoration: none;
    color: var(--text-primary);
}

.chapter a:hover {
    color: var(--onion);
}

.chapter li {
    margin-bottom: 0.25rem;
}

/* Appetizers */

.appetizers .section-splash-background {
    background-color: var(--tomato);
}

/* Entrees */

/* Desserts */

/* Others */

/* Resources */

/* Recipe */

section.recipe {
    display: grid;
    grid-template-columns: 1fr min(60rem, 100%) 1fr;
    margin-bottom: 5rem;
}

section.recipe > * {
    grid-column: 2;
}

.recipe blockquote {
    font-size: 4rem;
}

.recipe > .lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
