/* Import Castoro */

@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&family=Roboto:wght@400;500&display=swap");

/* Unset values */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

/* Variables */

:root {
    /* Shades */
    --neutral-00: ;
    --neutral-0: #ffffff;
    --neutral-2: #f8f8f8;
    --neutral-4: #f4f4f4;
    --neutral-6: #f2f2f2;
    --neutral-8: #ebebeb;
    --neutral-10: #dedede;
    --neutral-20: #c8c8c8;
    --neutral-30: #a6a6a6;
    --neutral-60: #666666;
    --neutral-70: #3c3c3c;
    --neutral-80: #333333;
    --neutral-90: #202020;
    --neutral-100: #000000;

    --background: #f5f5f4;

    /* Colors */
    --tomato: #ef3742;
    --onion: #9c7691;
    --green-onion: #76bc43;

    /* Text */
    --text-primary: var(--neutral-90);

    /* Shadow */
    --shadow: var(--neutral-10) 0px 0.25rem 0.5rem;
}

/* Globals */

html {
    font-family: "Segoe UI", "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--background);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 1rem;
}

::selection {
    background: var(--green-onion);
}

::-moz-selection {
    background: var(--green-onion);
}

hr {
    border: 0;
    height: 0;
    border-top: 0.5px solid var(--neutral-10);
    margin-bottom: 1.5rem;
}

/* Typography */

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 700;
}

strong {
    font-weight: 500;
}

p {
    margin-bottom: 1.5rem;
}

ol {
    padding-inline-start: 1rem;
}

blockquote {
    quotes: "“" "”" "‘" "’";
    font-family: "Castoro", "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: italic;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

a:hover {
    color: var(--onion);
}

/* Header */

body > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

body > header h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

body > header img {
    max-width: 20rem;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.call-to-action > img {
    max-width: 10rem;
    margin-bottom: 1rem;
}

.call-to-action > a {
    font-family: "Castoro", "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    text-decoration: underline;
}

/* Section headers */

section {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 0.5rem;
}

section > header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-items: center;
}

section > header h2 {
    font-size: 4rem;
    margin-bottom: 0.3rem;
}

section > header > img {
    max-width: 16rem;
    padding: 2rem;
    justify-self: center;
    align-self: center;
}

section > header > div {
    padding: 1rem;
}

section > header > div > span,
section > header > div > p {
    font-weight: 500;
    color: var(--neutral-60);
    padding-left: 0.2rem;
}

/* Introduction */

section.introduction {
    max-width: 65ch;
    padding: 0 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

section.introduction > span {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

section.introduction img {
    width: 8rem;
}

/* Table of contents */

section.table-of-contents {
    max-width: 60rem;
    margin: auto;
    padding: 0 1rem;
}

.chapters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    column-gap: 1rem;
}

.chapter {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}

.chapter-number {
    margin-right: 1rem;
}

.chapter p {
    margin-bottom: 0.5rem;
}

.chapter li {
    margin-bottom: 0.25rem;
}

/* Recipe Cards */

.recipe-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    max-width: 80rem;
    margin: auto;
    padding: 1rem;
}

.recipe-card > h3 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.recipe-card > hr {
    margin-bottom: 0.2rem;
}

.recipe-card > div {
    display: flex;
    flex-direction: column;
}

.recipe-card .name,
.recipe-card .residence {
    font-weight: 500;
    color: var(--neutral-80);
}

/* Recipe */

section.recipe {
    max-width: 50rem;
    margin: 3rem auto;
}

section.recipe .illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

section.recipe img {
    max-width: 18rem;
}

section.recipe > h1 {
    font-weight: 500;
    font-size: 4rem;
}

section.recipe > .credit {
    font-weight: 500;
    color: var(--neutral-60);
    margin-bottom: 2rem;
}

.recipe blockquote {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.recipe > .lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 1rem;
}

.lists h2 {
    margin-bottom: 0.5rem;
}

/* Contribute */

.markdown-example {
    background: var(--neutral-0);
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 90ch;
}

.markdown-example span {
    display: flex;
    background: var(--neutral-10);
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.5rem;
    font-weight: 500;
    width: 100%;
}

.markdown-example pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 0.5rem;
}
